*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
 
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px 0;
    display: block;
  }
  
  nav ul li a:hover {
    color: #f0f0f0;
    border-bottom: 2px solid white;
  }
   
  .row1
  {padding-top: 4rem;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(image/naruto-chidori-naruto-naruto-uzumaki-rasengan-naruto-sasuke-uchiha-hd-wallpaper-preview.jpg);
   
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
   
   
    
  }
  .row1 h1{
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    
  }
  
  .characters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .characters img{
    width: 400px;
    height: 300px;
    border: 2px solid rgb(220, 100, 100);
    box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.284); 
    
  }



  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.rc:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2) ; 
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-cl{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-cl img{
    width: 300px;
    height: 200px;
    display: block;
    border: 2px solid rgb(220, 103, 103);
    box-shadow: 4px 7px 7px 0px rgba(0, 0, 0, 0.284);
}
.layer{
    background:transparent;
    height: 200px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    cursor: pointer;
}

.layer:hover{
    background: rgba(24, 22, 22, 0.662);
}

.layer h3{
    width: 300px;
    font-weight: 500PX;
    color: rgb(255, 255, 255);
    font-size: 28px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 35%;
    opacity: 1;
}
